%h1 Oh sheet!
/ jquerysheet
%h2 jquerysheet
#jqsheet1{:class => 'jQuerySheet', :style => 'width:800px;height:300px;' }
  %table
    %tbody
      %tr.row1
        %td.row1.col1
        %td.row1.col2
        %td.row1.col3
        %td.row1.col4
        %td.row1.col5
      %tr.row2
        %td.row2.col1
        %td.row2.col2
        %td.row2.col3
        %td.row2.col4
        %td.row2.col5
      %tr.row3
        %td.row3.col1
        %td.row3.col2
        %td.row3.col3
        %td.row3.col4
        %td.row3.col5
      %tr.row4
        %td.row4.col1
        %td.row4.col2
        %td.row4.col3
        %td.row4.col4
        %td.row4.col5
      %tr.row5
        %td.row5.col1
        %td.row5.col2
        %td.row5.col3
        %td.row5.col4
        %td.row5.col5
:javascript
  $(function() {
    g_jqs = $("#jqsheet1").sheet(
    {
      editable: true
    });
  });
.ajax-answer
-#:javascript
  $.ajax({
    url: '/api/v1/type_1/3.json',
    data: {
      id: 123
    },
    type: 'GET',
    success: function(json) {
      g_jqs.setCellValue(json.value, 1, 1);
      $('.row0.cell0').html(json.value);
      //$('<h1/>').text(json.name).appendTo('.ajax-answer');
      //$('<div>').html(json.value).appendTo('.ajax-answer');
    },
    error: function(xhr, status) {
      alert("ops!");
    },
    complete: function(xhr, status) {
    }
  });
/ slicksheet
-#%h2 slicksheet
-##myGrid{:style => 'width:500px;height:500px;' }
-#:javascript
  var grid;
  var columns = [
    {id: "title", name: "Title", field: "title"},
    {id: "duration", name: "Duration", field: "duration"},
    {id: "%", name: "% Complete", field: "percentComplete"},
    {id: "start", name: "Start", field: "start"},
    {id: "finish", name: "Finish", field: "finish"},
    {id: "effort-driven", name: "Effort Driven", field: "effortDriven"}
  ];

  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false
  };

  $(function () {
    var data = [];
    for (var i = 0; i < 500; i++) {
      data[i] = {
        title: "Task " + i,
        duration: "5 days",
        percentComplete: Math.round(Math.random() * 100),
        start: "01/01/2009",
        finish: "01/05/2009",
        effortDriven: (i % 5 == 0)
      };
    }

    grid = new Slick.Grid("#myGrid", data, columns, options);
  })
