%p
  Inspired by
  %a{href: "http://thomasstreet.net/blog/spreadsheet.html"}
    http://thomasstreet.net/blog/spreadsheet.html
  Features:

%ul
  %li
    Under 30 lines of vanilla JavaScript
  %li
    Libraries used: none
  %li
    Excel-like syntax (formulas start with =)
  %li
    Support for arbitrary expressions (=A1+B2*C3)
  %li
    Circular reference prevention
  %li
    Automatic localStorage persistence

%table

%footer
  %p
    &copy;
    2013
  %a{href: "http://ondras.zarovi.cz/"}
    Ondřej Žára

